body{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;   
    
}

header{
    border-bottom: 3px solid black;
    padding: 0px 22px;
}

h1{
    text-transform: uppercase;    
}

main,
footer p
{
    padding: 0px 22px;
}

h2{
    margin-top: 45px;
}

footer{
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    margin-top: 35px;
}

