@media (max-width:600px) {

    body {
        width: 100%;
    }

    main .left-to-right article {
        width: 350px;
        height: 300px;
        border-radius: 20%;
        padding-right: 45px;
        padding-left: 45px;
    }

    .left-to-right:first-child {
        padding: 50px;
        height: 500px;
        object-fit: cover;
    }

    header h1 {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    header p {
        font-size: 1rem;
        margin-bottom: 10px;
        line-height: 1.8;
    }

    button {
        display: none;
    }

    main section:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main section:nth-child(4) {
        display: inline-block;
        margin-bottom: 0px;
    }

    main section:nth-child(4) article {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }

    form input[type="submit"] {
        margin-left: 100px;
    }

    main section:nth-child(4) article img {
        width: 300px;
        margin-left: 50px;
        
    }
}
