html {
    background-color: rgb(245, 245, 245);
}

table {
    width: 500px;
    table-layout: fixed;
    text-align: left;
    margin: 30px 0px 0px 30px;
    border: 2px solid rgb(213, 213, 213);
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(213, 213, 213);
    padding-left: 4px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

@media (max-width:550px) {
    table {
        border: 0px;
        display: flex;
        flex-wrap: wrap;       
    }
}
