* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 0 3%;
    grid-template-areas: "head head"   
    "main aside";
    padding: 30px 70px 50px 50px;
    position: relative;
    background-color: rgb(238, 238, 238);
}

h1, h2{
    font-family: Georgia, serif;
    font-size: 1em/1.2 ;
}

.head {
    grid-area: head;
    display: inline-block;    
}

main{
    grid-area: main;
}

header.head{
    border-bottom: 2px solid black;
}

ul.head{
    position: absolute;
    right: 0%;
    bottom: 10px;
}

ul.head li{
    display: inline-block;
    list-style: none;
    padding-right: 22px;
    text-decoration: none;  
}

a{
    text-decoration: none;
    color: rgb(0, 102, 0);
}

aside {
    grid-area: aside;
    padding-left: 80px;
    margin-top: 20px;
}

aside h3{
    margin-top: 0%;
}

blockquote{
    font-family: Georgia, serif;
    font-size: 1em/1.2;
    font-style: italic;
    margin: 0%;
    padding-left: 20px;
    border-left: 3px solid rgb(168, 165, 165);
    color: rgb(113, 111, 111);  
    width: 45%;  
    float: right;
}

blockquote p:last-child{
    text-align: right;
}

.nearBlockquote{
    width: 50%;
}

.second-image {
    width: 20%;
    float: right;
    margin: 0px 30px 30px 30px;
}

.first-image {
    width: 20%;
    float: left;
    margin: 0px 30px 30px 0px;
}

img{
    padding: 5px;
    background-color: rgb(255, 255, 255) ;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) ;
}

@media (min-width: 1800px){
    body {
        font-size: 23px;
    }    
}

@media (min-width: 1300px) and (max-width: 1800px){
    body {
        font-size: 21px;
    }    
}

@media (min-width: 800px) and (max-width: 1300px) {
    body {
        font-size: 18px;
    }    
}

@media (min-width: 600px) and (max-width: 800px){
    body {
        font-size: 16px;
    }    
}

@media (min-width: 500px) and (max-width: 600px){
    body {
        font-size: 14px;
    }    
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }    
}