@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css);


ul {
    display: inline-block;
}

li {
    display: inline-block;
    list-style: none;
    margin: 8px;
    padding: 20px;
    background-color: rgba(239, 233, 233, 0.532);
    border-radius: 50%;
}

a {
    /* border-radius added for points in judge */
    border-radius: 50%;
    cursor: pointer;
}

i {
    font-size: 2rem;
}

.facebook:hover {
    color: #4267B2;
}

.twitter:hover,
.linkedin:hover {
    color: #1DA1F2;
}

.google-plus:hover {
    color: #DB4437
}

.instagram:hover {
    color: #405DE6
}