body {
    font-family: 'PT Sans', sans-serif;
}

main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* Section 1 */

.section-one {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url("image/computer-main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;

}

.section-one nav {
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;

}

.section-one__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.section-one__cont h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 1.5px 1.5px rgb(78, 75, 75);
}

.section-one__cont p {
    width: 450px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgb(78, 75, 75);
}

.section-one__cont button {
    border: transparent;
    padding: 5px 20px;
    background-color: #00d08e;
    border-radius: 3px;
    color: #fdfef7;
    font-weight: bold;
    margin: 50px 0px;
}

.section-one__cont button:hover {
    cursor: pointer;
    border: 3px solid #fdfef7;
    background-color: transparent;
}

.section-one span {
    margin-right: 7px;
    font-size: 18px;
    color: #f2f5e9;
    text-shadow: 1.5px 1.5px rgb(78, 75, 75);
}

/* Section 2 */

.section-two {
    display: flex;
    flex-direction: row;
    height: 60vh;
    font-size: 22px;
    color: #20252d;
}

.section-two img {
    width: 50%;
}

.section-two__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    text-align: left;
}

.section-two h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.section-two p {
    margin-bottom: 20px;
}

.section-two__text ul {
    line-height: 3rem;
}

.section-two__text ul li {
    font-size: 18px;

}

.section-two__text ul li i {
    margin-right: 27px;
    color: #00d08e;
}

/* Section 3 */

.section-three {
    display: flex;
    height: 60vh;
    background-color: #ffffff;
}

.section-three__left {
    width: 50%;
    padding: 30px 50px 0px 50px;
}

.section-three__left h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.section-three__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.section-three__images img {
    width: 41%;
}

div.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.image p {
    font-size: 20px;
    color: #00d094;
    font-weight: 900;
    margin: 5px 0px 10px 0px;

}

.section-three__right {
    width: 50%;
}

.section-three__right img {
    width: 100%;
    height: 60vh;
}

/* Section 4 */

.section-four {
    background-color: #b2f1dd;
    height: 70vh;
    padding: 20px 70px 0px 70px;
    color: #20252d;
}

.section-four h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.section-four__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin-top: 45px;
}

.grid h3,
.grid p {
    text-align: center;
    width: 300px
}

div.footer {

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

p.footer{
    margin-top: 45px;   
    text-align: center;
}

p.footer span{
    font-weight: bold;
   
}