 html {   
    background-color: rgb(238, 234, 234);
 }
 
 body{
    display: flex;    
    padding: 50px;
} 

ul{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

li{
    display: flex;
    border: 10px solid black;
    background-color: white;
    padding: 1rem;
    align-items: center;
  
   
} 
