@font-face {
    font-family: "Great Vibes";
    src: url("GreatVibes-Regular.ttf");
}

html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-family: Great Vibes, cursive;
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
    
}
h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
    
}

