:root {
    --clr-background: #f5f5f5;
    --clr-desing: #cb2027;
    --clr-text: #000000;
}

body {
    background-color: var(--clr-background);
    font-family: 'Courgette', cursive;
}

section.home {

    padding: 50px 150px 50px 150px;
}

header.header {
    margin-bottom: 20px;
}

header.header h1 {
    text-align: center;
    font-size: 41px;
    letter-spacing: 2px;
    font-weight: normal;
}

header.header p {
    color: var(--clr-desing);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 657px;
}

div.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.cards__card {
    width: 350px;
    height: 450px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__card img {
    object-fit: cover;
}

.cards__card h2 {
    /* text-align: center; */
    margin: 8px 0px;
}

div.horizontal{
    width: 300px;
    height: 2px;
    background-color: var(--clr-desing);
   margin-bottom: 10px;
}

div.cards p.para{
    padding: 0px 20px;
    text-align: center;
    margin-bottom: auto;
}

div.cards footer{
  padding-bottom: 15px;
}

div.cards footer i{
    padding-left: 10px;
    color: var(--clr-desing);
}